<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newroad.dao.ProductImagesMapper">
  <resultMap id="BaseResultMap" type="com.newroad.entity.ProductImages">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="is_main" jdbcType="INTEGER" property="isMain" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="save_name" jdbcType="VARCHAR" property="saveName" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="sortnum" jdbcType="INTEGER" property="sortnum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, is_main, name, save_name, size, path, create_time, sortnum
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_crm_product_images
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.newroad.entity.ProductImages">
    insert into tb_crm_product_images (id, product_id, is_main, 
      name, save_name, size, 
      path, create_time, sortnum
      )
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{isMain,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{saveName,jdbcType=VARCHAR}, #{size,jdbcType=VARCHAR}, 
      #{path,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, #{sortnum,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.newroad.entity.ProductImages">
    insert into tb_crm_product_images
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="isMain != null">
        is_main,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="saveName != null">
        save_name,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="sortnum != null">
        sortnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="isMain != null">
        #{isMain,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="saveName != null">
        #{saveName,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="sortnum != null">
        #{sortnum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>